{plugins, [rebar3_hex, rebar3_ex_doc]}.
{hex, [{doc, ex_doc}]}.
{ex_doc, [{source_url, <<"https://github.com/massemanet/redbug">>},
          {extras, [<<"LICENSE">>]},
          {main, <<"README.md">>}]}.

{erl_opts,
    [debug_info,
     warnings_as_errors,
     {extra_src_dirs, [{"test", [{recursive, true}]}]}]}.

{dialyzer, [{plt_extra_apps, [mnesia, eunit]}]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
