%-*- mode: erlang; erlang-indent-level: 2 -*-
{plugins,             [rebar3_hex]}.
{erl_opts,            [debug_info, warnings_as_errors,
                       {platform_define, "^(R|1|20)", 'OTP_20_OR_EARLIER'},
                       {platform_define, "^(R|1|20|21|22|23|24)", 'OTP_24_OR_EARLIER'}]}.
{xref_checks,         [undefined_function_calls]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
